{% extends 'base.html' %}

{% block og_title %}About{% endblock %}
{% block og_description %}Some info about LapisMYT - author of website{% endblock %}
{% block description %}Some info about LapisMYT - author of website{% endblock %}

{% block content %}

<h2>I'm backend Python developer.</h2>

<a href="https://wakatime.com/@ca0cb219-088f-4a29-9d00-140073eea462">
    <img src="https://wakatime.com/badge/user/ca0cb219-088f-4a29-9d00-140073eea462.svg" alt="Wakatime">
</a>

<p>Skills:</p>
<ul>
    <li>Basic: threading, asyncio, sqlite3, dataclasses-json, pypy, linux</li>
    <li>Telegram: pytelegrambotapi, aiogram 3, telethon, pyrogram</li>
    <li>TON: pytoniq, ston-fi.py, dedust, tonutils</li>
    <li>Web: aiohttp, flask</li>
    <li>AI: aihorde, ollama, openai, anthropic</li>
    <li>GUI: kivy, kivymd, tkinter</li>
</ul>

<p>Links:</p>
<ul>
    <li><a href="https://github.com/lapismyt">GitHub</a></li>
    <li><a href="http://lapismyt.lol">Website</a></li>
    <li><a href="https://t.me/LapisMYT">Telegram</a></li>
    <li><a href="https://wakatime.com/@LapisMYT">Wakatime</a></li>
</ul>

{% endblock %}
