{% extends 'base.html' %}

{% block og_title %}Homepage{% endblock %}
{% block og_description %}Index of lapismyt.lol{% endblock %}
{% block description %}Index of lapismyt.lol{% endblock %}

{% block meta %}
<meta name="yandex-verification" content="e7dcdd3dabbc9628" />
{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to lapismyt.lol!</h1>
    <!--{% if current_user.is_authenticated %}
        {% if current_user.is_admin %}
            <a href="{{ url_for('create_article') }}" class="btn btn-primary">Create a new article</a>
        {% endif %}
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}" class="btn btn-success">Login with Telegram</a>
    {% endif %}-->
    <h2>About</h2>
    
    <h3>I'm backend Python developer.</h3>

    <a href="https://wakatime.com/@ca0cb219-088f-4a29-9d00-140073eea462">
        <img src="https://wakatime.com/badge/user/ca0cb219-088f-4a29-9d00-140073eea462.svg" alt="Wakatime">
    </a>
    
    <p>Skills:</p>
    <ul>
        <li>Basic: threading, asyncio, sqlite3, dataclasses-json, pypy, linux</li>
        <li>Telegram: pytelegrambotapi, aiogram 3, telethon, pyrogram</li>
        <li>TON: pytoniq, ston-fi.py, dedust, tonutils</li>
        <li>Web: aiohttp, flask</li>
        <li>AI: aihorde, ollama, openai, anthropic</li>
        <li>GUI: kivy, kivymd, tkinter</li>
    </ul>
    
    <p>Links:</p>
    <ul>
        <li><a href="https://github.com/lapismyt">GitHub</a></li>
        <li><a href="http://lapismyt.lol">Website</a></li>
        <li><a href="https://t.me/LapisMYT">Telegram</a></li>
        <li><a href="https://wakatime.com/@LapisMYT">Wakatime</a></li>
    </ul>

</div>
{% endblock %}
