{% extends "base.html" %}

{% block og_title %}Send mail via Telegram{% endblock %}
{% block og_description %}Send mail via Telegram on lapismyt.lol{% endblock %}
{% block description %}Send mail via Telegram on lapismyt.lol{% endblock %}

{% block content %}
<h2>Mail for users via Telegram</h2>
<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="text" id="text" name="text" placeholder="Message" required>
    <br/>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
{% endblock %}