{% extends 'base.html' %}

{% block og_title %}Terms of Use{% endblock %}
{% block og_description %}Terms of use for website lapismyt.lol{% endblock %}
{% block description %}Terms of use for website lapismyt.lol{% endblock %}

{% block content %}
<h2>Terms of Use</h2>

<p>By using this website, you agree to the following terms and conditions. Please read them carefully before using our services.</p>

<h4>1. Acceptance of Terms</h4>

<p>By accessing and using this website, you agree to comply with and be bound by these terms. If you do not agree with any part of these terms, please refrain from using the website.</p>

<h4>2. Changes to Terms</h4>

<p>We reserve the right to modify these terms at any time. Any changes will be posted on this page, and your continued use of the website constitutes your acceptance of the updated terms.</p>

<h4>3. Use of the Website</h4>

<p>You agree to use the website only for lawful purposes and in a manner that does not infringe the rights of, restrict, or inhibit anyone else's use of the website. Prohibited behavior includes but is not limited to harassing or causing distress to any individual, transmitting obscene or offensive content, or disrupting the normal flow of dialogue within the website.</p>

<h4>4. Intellectual Property</h4>

<p>All content on this website, including text, images, and code, is protected by intellectual property rights. You may not reproduce, distribute, or otherwise use the content without prior written permission unless it is expressly permitted by law.</p>

<h4>5. Limitation of Liability</h4>

<p>We are not liable for any direct, indirect, incidental, or consequential damages that may arise from your use of this website, including any damages resulting from the inability to access or use the website or any content therein.</p>

<h4>6. External Links</h4>

<p>Our website may contain links to third-party websites. We are not responsible for the content or practices of these external websites, and you access them at your own risk.</p>

<h4>7. Disclaimer</h4>

<p>The content on this website is provided "as is" without any warranties, express or implied. We do not guarantee the accuracy, completeness, or timeliness of the content, and we are not responsible for any errors or omissions.</p>

<h4>8. Termination</h4>

<p>We reserve the right to terminate or suspend your access to the website at any time, without notice, for any violation of these terms or for any other reason at our discretion.</p>

<h4>9. Governing Law</h4>

<p>These terms are governed by and construed in accordance with the laws of Russian Federation, without regard to its conflict of law principles. Any disputes related to these terms will be resolved exclusively in the courts of Russian Federation.</p>

<h4>10. Contact Information</h4>

<p>If you have any questions about these terms of use, please contact us at: nikitagavrilin005@gmail.com.</p>
{% endblock %}
