{% extends 'base.html' %}

{% block style %}
/* input[type="file"] {
    margin: 15px 0;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--accent-color);
    color: #fff;
}
btn {
    margin: 15px 0;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--accent-color);
    color: #fff;
} */
.btn {
    background-color: var(--accent-color);
    color: #fff;
}
button {
    background-color: var(--accent-color);
    color: #fff;
    border-radius: 8px;
}
.upload_container {
    justify-content: center;
    display: flex;
    width:100%;
}
#file {
    display: none;
}
{% endblock %}

{% block content %}
<h2>Upload File</h2>
<div class="upload_container">
    <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
        <input type="file" id="file" name="file" class="btn" required>
        <label for="file">
            <span class="btn btn-logout">Choose file</span>
            <span>Up to 1GB</span>
        </label>
        <button class="btn btn-logout" type="submit">Upload</button>
    </form>
</div>

{% if message %}
    <p>{{ message }}</p>
{% endif %}

{% endblock %}
